HeatingCylinderTags
{
	position: absolute;
    left: 100px;
	right: 100px;
    top: 100px;
    bottom: 100px;
    justify-content: center;
	align-items: center;

	.BG
	{
		background-color: rgba( black, 0.5 );
		border-radius: 10px;
		padding: 5px;
		flex-direction: column;

		.FuelBG
		{
			.IconFuel
			{
				font-family: MaterialIconsOutlined;
				font-size: 50px;
				padding: 0 10 0 2px;
				color: rgb(255, 94, 0);
			}

			.FuelBarBack
			{
				background-color: rgba( black, 0.7 );
				margin-top: 15px;
				border-radius: 10px;
				width: 200px;
				height: 18px;

				.FuelBar
				{
					background-color: rgba( rgb(255, 94, 0), 0.7 );
					border-radius: 10px;
				}	
			}

			.Fuel
			{
				font-size: 48px;
				color: white;
			}
		}

		.MoneyBG
		{
			.IconMoney
			{
				font-family: MaterialIconsOutlined;
				font-size: 50px;
				padding: 0 10 0 2px;
				color: rgb(0, 255, 0);
			}
			
			.Money
			{
				font-size: 48px;
				color: white;
			}
		}
	}
}